<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student form</title>
<link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>
	<h3>Student Registration Form</h3>
	
<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
		<label> Student First name:</label>
		<input	type="text" th:field="*{firstName}"/>
		<br><br>
		<label> Student Last Name:</label>
		<input	type="text" th:field="*{lastName}"/>
		<br><br>
		<label> Favorite Language:</label>
		<input type="radio" th:field="*{favoriteLanguage}" th:each="tempLang : ${languages}" th:value="${tempLang}"  th:text="${tempLang}"/>
		<br><br>
		<label> Favorite system:</label>
		<input type="checkbox" th:field="*{favoriteSystems}" th:each="favSystems : ${systems}" th:value="${favSystems}"  th:text="${favSystems}"/>
		<br><br>
		<label> Country:</label>
		<select th:field="*{country}">
			<option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
		</select>
		<br><br>
		<input type="submit"/>
		
	</form>
</body>
</html>